[submodule "KlangRageAudioLibrary"]
	path = KlangRageAudioLibrary
	url = https://github.com/bttfv/KlangRageAudioLibrary
[submodule "FusionLibrary"]
	path = FusionLibrary
	url = https://github.com/bttfv/FusionLibrary
