[submodule "KlangRageAudioLibrary"]
	path = KlangRageAudioLibrary
	url = https://github.com/bttfv/KlangRageAudioLibrary
[submodule "FusionLibrary"]
	path = FusionLibrary
	url = https://github.com/bttfv/FusionLibrary
[submodule "RogersSierra"]
	path = RogersSierra
	url = https://github.com/bttfv/RogersSierra
[submodule "BackToTheFutureV.HUD"]
	path = BackToTheFutureV.HUD
	url = https://github.com/bttfv/BackToTheFutureV.HUD
