<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LemonUI.SHVDN3" version="1.4.0" targetFramework="net48" />
  <package id="MonoGame.Framework.DesktopGL" version="3.8.0.1641" targetFramework="net48" />
  <package id="ScriptHookVDotNet3" version="3.1.0" targetFramework="net48" />
</packages>